* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px; 
    width: 100%; 
    margin: 0 auto;
}

header {
    padding: 8px 0; 
    background-color: rgb(59, 112, 205);
}

header nav li{
    display: inline;
    margin-left: 8px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

header nav li a{
    color: rgb(255, 255, 255); 
    text-decoration: none; 
}

header nav li a:hover{
    color: rgb(255, 157, 0);
}

header img{
    height: 100px;
}

header .container{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

article .container-sobre{
    display: grid;
    grid-template-columns: 45% 53%;
    column-gap: 2%;      
    margin-top: 32px;   
    font-family: 'Roboto', sans-serif;
    max-width: 100%; 
    margin-bottom: 32px;
}

article h1, section h1{
    margin-bottom: 16px;
    border-bottom: 4px solid red;
    padding: 8px 0;    
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}

article img{
    max-width: 100%;    
}

.container-produtos ul{
    display: grid;
    grid-template-columns: repeat(4, 24.25%); 
    column-gap: 1%;         
    margin-top: 32px;   
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    list-style: none;
}

.container-produtos h3,
.container-produtos p{
    margin-top: 8px;
}

.preco{
    margin-top: 16px;
    font-size: 2em;
}

.container-produtos button{
    width: 100%;
    padding: 8px;
    background-color: rgb(93, 93, 242);
    color: white;
    margin-top: 8px;
    border: none;
    cursor: pointer;
}

.container-produtos button:hover{
    background-color: rgb(134, 134, 245);
}

section .container-produtos img{
    width: 100%;
}

.formContato{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 32px 0;
}

section h1{
    margin-top: 32px;
}

.formContato form input,
.formContato form textarea,
.formContato form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px; 
    font-family: 'Roboto', sans-serif;
}

form textarea{
    resize: none;
    height: 180px;
}

form button{
    width: 100%;
    padding: 8px;
    background-color: rgb(93, 93, 242);
    color: white;
    margin-top: 8px;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: rgb(131, 131, 246);
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(59, 112, 205);
    color: #ecf0f1;
    padding: 16px 0;
}
footer p{
    margin-left: 16px;
}
footer img{
    height: 50px;
    margin-right: 16px;
    border: 2px solid white;
    padding: 3px;
}
footer a{
    text-decoration: none;
}

/*inicio das configurações de responsividade*/

@media screen and (max-width: 767px) {
    .container{
        max-width: 90%;
    }

    header nav ul{
        margin-top: 16px;
    }
    header nav li{
        display: inline;        
        font-size: 1.2em;
        font-family: 'Roboto', sans-serif;
        
    }
    header img{
        height: 90px;
    }
    header .container{
        display: block;
        text-align: center;
    }

    article .container-sobre{
        display: block;          
        font-family: 'Roboto', sans-serif;
        max-width: 100%; 
    }    
    article h1{
        margin-bottom: 16px;
        border-bottom: 4px solid red;
        padding: 8px 0;    
        font-size: 32px;        
    }

    .container-produtos ul{
        display: block;          
        font-family: 'Roboto', sans-serif;
        max-width: 100%;
        list-style: none;
        text-align: center;
    }    
    .container-produtos h3,
    .container-produtos p{
        margin-top: 8px;
    }    
    .preco{
        margin-top: 16px;
        font-size: 1.5em;
    }    
    .container-produtos button{
        width: 100%;
        margin-bottom: 16px;
    }
    section .container-produtos img{
        width: 100%;
    }

    footer .container{
        display: block;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .container{
        max-width: 90%;
    }
    header nav ul{
        margin-top: 16px;
    }
    header nav li{
        display: inline;        
        font-size: 1.5em;
        font-family: 'Roboto', sans-serif;
        
    }
    header img{
        max-width: 100%;
    }

    .container-produtos ul{
        grid-template-columns: repeat(2, 48.5%);
        row-gap: 1%;
    }
    .container-produtos button{
        margin-top: 8px;
    }
    
}


